#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #202135;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  
  padding: 2em;
  width: 100px;
  height: 100px;
  margin: 0.5em;
  font-weight: bold;
  background-color: #FFFFFF;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em #000000aa;
  color:#7321DB;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card span {
  font-size: 5em;
  font-weight: bold;
}

.card:hover {
  background-color: #ffffff;
   
  scale: 1.05;
}

.read-the-docs {
  color: #888;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: #3637525d;
}

.bg {
  background: #363752;
  border-radius: 0.5em;
  color: white;
}
 .info {
  display: flex;
  margin: 4px;
  padding: 0;
  
}
.text-box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: start;
}

.icon{
  padding: 1em;
}

 .X-card{
  color: #7321DB;
  animation: fadeIn 1s;
 }
 .O-card{
  color: #FFAE12;
  animation: fadeIn 1s;
 }
 
 @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.borad {
 position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0em;
  max-width: 100%;
  width: 600px;
  
  
}


.marquee {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: min(0.2vw, 0.4vh);
  font-size: min(10vw, 20vh);
  font-weight: 500;
  width: auto;
  z-index: 200;
}

.marquee__letter {
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform: translate(0, -100%) rotate(5deg);
}
.marquee__letter:nth-child(1)  { animation-delay: 0.0s }
.marquee__letter:nth-child(2)  { animation-delay: 0.1s }
.marquee__letter:nth-child(3)  { animation-delay: 0.2s }
.marquee__letter:nth-child(4)  { animation-delay: 0.3s }
.marquee__letter:nth-child(5)  { animation-delay: 0.4s }
.marquee__letter:nth-child(6)  { animation-delay: 0.5s }
.marquee__letter:nth-child(7)  { animation-delay: 0.6s }
.marquee__letter:nth-child(8)  { animation-delay: 0.7s }
.marquee__letter:nth-child(9)  { animation-delay: 0.8s }
.marquee__letter:nth-child(10) { animation-delay: 0.9s }

.goal .marquee__letter {
  animation-name: marquee;
}



@keyframes marquee {
  0% {
      text-shadow: 0 0 0 rgb(255 255 255 / 0), 0 0 0 rgb(255 255 255 / 0);
      transform: translate(0, -100%) rotate(5deg);
  }

  25% {
      text-shadow: 0 0.1em 0 rgb(var(--color-score) / 0.75), 0 0.2em 0 rgb(var(--color-score) / 0.5);
      transform: translate(0, 100%) rotate(-5deg);
  }

  50% {
      text-shadow: 0 -0.1em 0 rgb(var(--color-score) / 0.75), 0 -0.2em 0 rgb(var(--color-score) / 0.5);
      transform: translate(0, 0) rotate(5deg);
  }

  75% {
      text-shadow: 0 0.1em 0 rgb(var(--color-score) / 0.75), 0 0.2em 0 rgb(var(--color-score) / 0.5);
      transform: translate(0, 100%) rotate(-5deg);
  }

  100% {
      text-shadow: 0 0 0 rgb(255 255 255 / 0), 0 0 0 rgb(255 255 255 / 0);
      transform: translate(0, -100%) rotate(5deg);
  }
}

@keyframes increment {
  0% {
      transform: scale3d(1, 1, 1);
  }

  10%,
  20% { /* 150ms */
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, /* 225ms */
  50%,
  70%,
  90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% { /* 750ms */
      transform: scale3d(1, 1, 1);
  }
}
 